#navbar .link .a6,
#menucanvas .link .a6 {
    background-color: #CCE8D9;
    color: #0F4A4E;
}

/* datatables styles */
#contents .dataTables_filter {
    display: none;
}
#contents .dataTables_length {
    float: left;
    color: #696969;
    margin: 10px 0;
    padding: 0 5px;
    padding-top: 5px;
    border-radius: 3px;
    label {
        display: inline-flex !important;
        select.form-select {
          margin: 0 3px;
          border: 1px solid rgba(24, 132, 119, .8);
          position: relative;
          top: -4px;
        }
    }
}
#contents .dt-buttons {
    float: right;
    margin: 10px 0;
}
#contents .dataTables_info {
    width: auto;
    float: left;
    color: #696969;
    margin-top: 15px;
    margin-bottom: 5px;
}
#contents table th input,
#contents table th select {
    border: 1px solid rgba(24, 132, 119, .6);
    padding-left: 3px;
    font-size: 13px;
    height: 30px;
    border-radius: 3px;
    width: auto;
    min-width: 100px;
    transition: all .5s ease;
}
#date_filter_modal input,
#contents table td input {
    border: 1px solid rgba(24, 132, 119, .6);
}
#contents .searchdiv input:focus,
#contents .dataTables_length .form-select:focus,
#contents table th input:focus,
#contents table th select:focus,
#date_filter_modal input:focus,
#contents table td input:focus {
    border-color: #188477;;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(24, 132, 119, 0.6);
    outline: none;
}
#contents .dataTables_paginate {
    width: auto;
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}
#contents .dataTables_paginate ul {
    border: 1px solid rgba(24, 132, 119, .6);
    border-radius: 5px;
    color: #696969;
}
#contents .dataTables_paginate ul li a {
    color: #0F4A4E;
}
#contents .dataTables_paginate ul li.active a {
    background-color: #0F4A4E;
    border: 1px solid #0F4A4E;
    color: #CCE8D9;
}
#contents .dataTables_paginate ul li.disabled a {
    background-color: transparent;
    border: none;
    color: #696969;
    cursor: not-allowed;
}
#contents .dataTables_paginate ul li a:hover {
    background-color: rgba(15, 74, 78, .7);
    border: 1px solid rgba(15, 74, 78, .7);
    color: #CCE8D9;
}
#contents .dataTables_paginate ul li a:focus {
    box-shadow: none;
}


#contents .searchdiv input {
    border: 1px solid rgba(24, 132, 119, .4);
}
#contents table th,
#contents table td {
    padding: auto 5px;
    white-space: nowrap;
    text-align: center;
}
#contents table td.ellipsis {
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




#contents .user_info {
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    color: #696969;
}
#contents .user_info a {
    color: inherit;
    text-decoration: none;
}
#contents .user_info ul {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    background-color: #0F4A4E;
    color: #CCE8D9;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0;
}
#contents .user_info ul li {
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 0;
}
#contents .user_info ul li a {
    display: block;
    width: auto;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: 8px 15px;
}
#contents .user_info ul li a.active {
    background-color: #CCE8D9;
    color: #0F4A4E;
    border-radius: 0;
}
#contents .user_info .tab_container {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    text-align: left;
    padding: 20px 5px;
    color: #696969;
}
#contents .user_info .tab_container .tab_div {
    display: none;
    width: 100%;
    float: left;
    padding: 0;
}
#contents .user_info .tab_container .tab_div:nth-child(1) {
    display: block;
}
#contents .user_info .tab_container .tab_div .info {
    display: block;
    width: 100%;
    float: left;
    font-size: 16px;
}
#contents .user_info .tab_container .tab_div .info div {
    width: 50%;
    float: left;
    padding: 2px;
}
#contents .user_info .tab_container .tab_div .info div a {
    border: 1px solid rgba(15, 74, 78, .5);
    border-radius: 3px;
    transition: all 0.5s ease;
}
#contents .user_info .tab_container .tab_div .info div a:hover {
    background-color: rgba(15, 74, 78, .8);
    color: #CCE8D9;
}


#contents .user_info .tab_container .tab_div form {
    display: block;
    width: 500px;
    margin: 50px auto;
}



@media only screen and (max-width: 768px) {
    #contents .user_info .tab_container {
        padding: 20px 0;
    }
    #contents .user_info .tab_container .tab_div .info div {
        display: block;
        width: 100%;
    }
}