{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcat icon" href="{% static 'imgs/logo.png' %}" />
    <title>Auth | ShopApp</title>
    <link href="{% static 'fontawesome-6.2.1/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'scss/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container" class="d-block w-100 position-relative">
      <div class="form_div text-center shadow-lg rounded">
        <img src="{% static 'imgs/logo.png' %}" />
        <span class="head_span d-block w-100 text-color1">Mama-rich Hardware</span>
        <form id="login_auth_form" action="{% url 'user_auth' %}" autocomplete="off" class="d-block w-100">
          <div class="formsms text-start mb-1"></div>
          <div class="form-floating">
            <input type="text" class="form-control text-color5" id="auth_username" name="username" placeholder="a" required autofocus />
            <label for="auth_username" class="form-label text-color5">Username</label>
          </div>
          <div class="form-floating mt-2">
            <input type="password" class="form-control text-color5" id="auth_password" name="password" placeholder="a" required />
            <label for="auth_password" class="form-label text-color5">Password</label>
          </div>
          <div class="form-floating mt-3">
            <button type="submit" id="auth_submit_button" class="btn btn-color2 text-white d-inline-block float-end">Login</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
