{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcat icon" href="{% static 'imgs/logo.png' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link href="{% static 'fontawesome-6.2.1/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'scss/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/master.css' %}" rel="stylesheet" type="text/css" />
    {% block styles %}

    {% endblock %}
  </head>
  <body>
    <div id="container">
      <header class="w-100 float-start bg-color2">
        <div class="divlogo">
          <a href="{% url 'dashboard_page' %}">
            <img src="{% static 'imgs/logo.png' %}" />
            <span class="text-white">Mama-rich Hardware</span>
          </a>
        </div>
        <div class="divbars">
          <span class="menu"><i class="fas fa-bars"></i></span>
        </div>
      </header>
      <div class="main">
        <nav id="navbar" class="bg-color1">
          <div class="link">
            <a href="{% url 'dashboard_page' %}" class="a1"><i class="fas fa-home"></i> &nbsp; Home</a>
          </div>
          <div class="link">
            <a href="{% url 'sales_page' %}" class="a2"><i class="fas fa-file-invoice"></i> &nbsp; Sales</a>
          </div>
          {% if request.user.is_admin %}
            <div class="link">
              <a href="{% url 'inventory_page' %}" class="a3"><i class="fas fa-warehouse"></i> &nbsp; Inventory</a>
            </div>
          {% endif %}
          <div class="link">
            <span class="header" id="reports_menu_btn"><i class="fas fa-list-check"></i> &nbsp; Sale reports <i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i></span>
            <div class="submenu">
              <a href="{% url 'sales_report' %}" class="a4"><i class="fas fa-arrow-right"></i> &nbsp; Sales</a>
              <a href="{% url 'sale_items_report' %}" class="a7"><i class="fas fa-arrow-right"></i> &nbsp; Sale items</a>
            </div>
          </div>
          <div class="link">
            <a href="{% url 'user_profile' %}" class="a5"><i class="fas fa-user"></i> &nbsp; Profile</a>
          </div>
          {% if request.user.is_admin %}
            <div class="link">
              <a href="{% url 'users_page' %}" class="a6"><i class="fas fa-users-cog"></i> &nbsp; Users</a>
            </div>
          {% endif %}
          <div class="link">
            <a href="{% url 'user_logout' %}"><i class="fas fa-sign-out"></i> &nbsp; Logout</a>
          </div>
        </nav>
        <div class="offcanvas offcanvas-start" id="navbar_canvas">
          <div class="offcanvas-header bg-color2">
            <h1 class="offcanvas-title text-white">Menu..</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div id="menucanvas" class="offcanvas-body bg-color1"></div>
        </div>
        <div class="wrapper" id="contents">
          {% block contents %}

          {% endblock %}
        </div>
      </div>
      <footer class="text-white bg-color2">
        <span>&copy; Mama-rich Hardware</span>
        <span>All rights reserved @ 2024</span>
      </footer>
    </div>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/master.js' %}"></script>
    {% block scripts %}

    {% endblock %}
  </body>
</html>
